JWT_SECRET_KEY=changeme-generate-a-strong-secret
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=1440

POSTGRES_USER=bibliotheque
POSTGRES_PASSWORD=changeme
POSTGRES_DB=bibliotheque
POSTGRES_HOST=postgres
POSTGRES_PORT=5432


DATABASE_URL=postgresql://bibliotheque:changeme@postgres:5432/bibliotheque

UTILISATEURS_SERVICE_PORT=8001
LIVRES_SERVICE_PORT=8002
EMPRUNTS_SERVICE_PORT=8003
FRONTEND_PORT=4200


UTILISATEURS_SERVICE_URL=http://utilisateurs-service:8001
LIVRES_SERVICE_URL=http://livres-service:8002
EMPRUNTS_SERVICE_URL=http://emprunts-service:8003
