JWT_SECRET_KEY=changeme-generate-a-strong-secret
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=1440

POSTGRES_USER=bibliotheque
POSTGRES_PASSWORD=changeme
POSTGRES_DB=bibliotheque
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

LIVRES_SERVICE_PORT=8002
